<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Estética</title>
</head>

<body>
 
 <h1>Stock de Cremas</h1>

<h2>Agregar nueva crema</h2>

<form action="/agregar" method="post">
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="text" name="descripcion" placeholder="Descripción">
    <input type="number" name="cantidad" placeholder="Cantidad" required>
    <input type="number" name="precio" placeholder="Precio" required>
    <button type="submit">Guardar</button>
</form>

{% if mensaje %}
    <p>{{ mensaje }}</p>
{% endif %}

<h2>📦 Stock de productos</h2>

{% if bajo_stock %}
    <h3>⚠ Bajo stock:</h3>
    <ul>
        {% for crema in bajo_stock %}
            <li>{{ crema.nombre }} ({{ crema.cantidad }})</li>
        {% endfor %}
    </ul>
{% endif %}

<ul>
{% for crema in cremas %}
    <li style="margin-bottom: 15px;">
        
        <strong>{{ crema.nombre }}</strong><br>
        Stock: {{ crema.cantidad }}<br>
        Precio: ${{ crema.precio }}

        <br><br>

        <!-- SUMAR -->
        <form action="/sumar_stock" method="post" style="display:inline;">
            <input type="hidden" name="id" value="{{ crema.id }}">
            <input type="number" name="cantidad" placeholder="+ stock" required>
            <button type="submit">➕</button>
        </form>

        <!-- RESTAR -->
        <form action="/restar_stock" method="post" style="display:inline;">
            <input type="hidden" name="id" value="{{ crema.id }}">
            <input type="number" name="cantidad" placeholder="- stock" required>
            <button type="submit">➖</button>
        </form>

        <!-- ELIMINAR -->
        <form action="/eliminar" method="post" style="display:inline;">
            <input type="hidden" name="id" value="{{ crema.id }}">
            <button type="submit">🗑</button>
        </form>

    </li>
{% endfor %}
</ul>

</body>
</html>